<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TP : Compte Bancaire</title>

  <link rel="stylesheet" href="style.css">
</head>
  <body>

    <h1>Mes comptes</h1>

    <div class="compte">

      <fieldset>
        <legend>Compte n°<!-- Afficher l'ID du compte--><strong><!-- Nom du compte --></strong></legend>
        <p>Somme disponible : <br>
        <!-- Afficher la somme --></p>
      </fieldset>

      <!-- FORMULAIRE VERSEMENT/RETRAIT -->
      <form action="" method="post">
        <input type="text" class="sum" name="sum" placeholder="Entrez une somme">
        <input type="submit" name="add" value="Créditer">
        <input type="submit" name="take" value="Débiter">
      </form>
      <!-- END FORMULAIRE VERSEMENT/RETRAIT -->

      <!-- FORMULAIRE SUPPRESSION COMPTE -->
      <form action="" method="post">
        <input type="hidden" name="user_id" value="<!-- AFFICHER L'ID DU COMPTE -->">
        <input type="submit" name="delete" value="Supprimer le compte">
      </form>
      <!-- END FORMULAIRE SUPPRESSION COMPTE -->

    </div>

    <hr>

    <h2>Effectuer un virement</h2>

    <!-- FORMULAIRE POUR VIREMENT -->
    <form action="" method="post">
      <p>
      <label for="sum">Somme à transférer</label><br>
      <input type="text" id="sum" name="sum" placeholder="Somme à transférer">€ <br>
      <label for="account1">Compte à débiter</label><br>
      <input type="text" id="account1" name="account1" placeholder="N° du compte à débiter"><br>
      <label for="account2">Compte à créditer</label><br>
      <input type="text" id="account2" name="account2" placeholder="N° du compte à créditer"><br>
      <input type="submit" value="Effectuer le virement">
      </p>
    </form>
    <!-- END FORMULAIRE POUR VIREMENT -->

    <h2>Créer un compte</h2>

    <!-- FORMULAIRE CREATION DE COMPTE -->
    <form action="" method="post">
      <input type="text" name="name" placeholder="Entrez un nom de compte">
      <input type="hidden" name="user_id" value="<!-- AFFICHER L'ID DU USER -->">
      <input type="submit" value="Créer un compte">
    </form>
    <!-- END FORMULAIRE CREATION DE COMPTE -->


  </body>
</html>
